@use '../abstract/' as * ;
.main-comment{
    position: relative;
    width: 1442px;
    height: 508px;
    left: 104px;
    top: 1400px;
    background-color: $comment-background;
    .comment-group{

        .comment-element{

            .comment-elementbg{

            }
        }
    }
}