@use '../abstract/' as * ;
.main-feature{
    
    @include flex($align: flex-start, $direction: column); 
    margin-top: 30px;           
    padding: 0px;
    gap: 24px;
    position: relative;   
    left: 104px;
    
    
    .feature-img{
        @include flex( $direction: row);            

        .feature-imggroup{
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr;
            
            .feature-imgitem {
            @include flex($align: center, $justify: center, $direction: column);
            
            }
        }
      
        
    }




}
