@use '../abstract/' as * ;
.main-feature{
    margin-top: 50px;
  

    img {
        width: 100%;
        object-fit: cover;
        } 
    .feature-img{
        display: flex;
        flex-direction: row;
        gap: 22px;
    }
    .feature-imggroup{
        gap: 10px;
    }
    .feature-newimg{
        display: flex;
        flex-direction: column;
        
        
    }
    .feature-secconimg{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}   
    
