@use '../abstract/' as * ;

.main-course{
  @include mobile {
      padding: 0 3rem;
    }
    .course-cardtotal{
      gap: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      overflow-x: scroll;
      @include mobile {
            overflow-x: scroll;
            }
      .course-group{
        border: 0.5px solid #B2B3B3;
        border-radius: 16px;
        display: inline-block;
        margin-top: 10px;
        box-sizing: content-box;
        padding: 20px;
        max-width: 100%;
        .card{      
          margin: 10px;
          .card-contentp {
              height: 3rem;
              overflow-y: scroll;
              .course-layout {
                  text-align: start;
                }
            }
          @include mobile {
              // width: 14rem;
            }
          .course-img{
            object-fit: cover;
            width: 100%;
          
          }
          .texts{
            // min-height: 100%;
            .course-symbol{
              margin-bottom: 1rem ;
            }
          }
          .btn-courseitem{
            width: 100%;
            margin: auto;
            padding: 0.5rem;
            @include mobile {
              display: none;
              }      
          } 
          .btn-coursemobile{
            width: 100%;
            margin: auto;
            display: none;
            padding: 0.5rem;
            @include mobile {
              display: block;
            }
          }
        }   
      }
    }
}


