@use '../abstract/' as * ;

.main-course{
    .course-cardtotal{
      @include flex($direction: row,$justify: space-between, $align: center);
      gap: 24px;
      @include mobile {
            overflow-x: scroll;
            }
      .course-group{
        border: 0.5px solid #B2B3B3;
        border-radius: 16px;
        display: inline-block;
        margin-top: 10px;
        box-sizing: content-box;
        padding: 20px;
        max-width: 100%;
        @include mobile {
            width: 100%;
          }   
        .card{      
          margin: 10px;
          .course-layout{
            text-align: start;
          }
          @include mobile {
              width: 14rem;
            }
          .course-img{
            object-fit: cover;
            width: 100%;
          
          }
          .texts{
            min-height: 100%;
            .course-symbol{
              margin-bottom: 1rem ;
            }
            th {
              height: 5rem;
            }
          }
          .btn-courseitem{
            width: 100%;
            margin: auto;
            padding: 0.5rem;
            @include mobile {
              display: none;
              }      
          } 
          .btn-coursemobile{
            width: 100%;
            margin: auto;
            display: none;
            padding: 0.5rem;
            @include mobile {
              display: block;
            }
          }
        }   
      }
    }
}


