@use '../abstract/' as * ;
.main-gallery{
    
    @include flex($direction: column,$justify: space-between, $align: flex-start);
    padding: 0px;
    gap: 24px;
    margin-top: 50px;
    @include tablet {
        padding: 0 50px;
      };
    @include mobile {      
           margin: 2rem 0;
           
      };
    
    
    .gallery-img{
        @include flex($direction: row,$justify: space-between, $align: center);
        gap: 24px;
        width: 100%;          
        .gallery-imggroup{
            .images-mobile{
                @include mobile {      
                    width: 100%;
                    
                }; 
                      
            }
         }
        .gallery-mobilegroup{
            @include mobile {      
                display: none;
                
            };
        } 
    }
}
