@use '../abstract/' as *;

.main-gallery {
    @include flex($direction: column, $justify: space-between, $align: flex-start);
    @include mobile {
        padding: 0 3rem;
        font-size: 24px;
        line-height: 36px;
     }
    
    .gallery-img {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        @include mobile {
                gap: 1rem;
            };
        @include tablet {
            gap: 0.5rem;
        };
        .gallery-imggroup {
            .images-mobile {
                @include mobile {
                    width: 100%;
                };
            }
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .gallery-mobilegroup {
            @include mobile {
                display: none;

            };
        }
    }
}
