@use "../abstract/" as *;

.main-feature {
  margin-top: 50px;
  padding: 0 50px;

  .feature-mobilespan {
    @include mobile {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }

  .feature-mobileh3 {

    @include mobile {
      font-size: 24px;
      line-height: 36px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .feature-img {
    display: flex;
    flex-direction: row;
    gap: 22px;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .feature-imggroup {
    gap: 10px;
  }

  .feature-newimg {
    display: flex;
    flex-direction: column;
  }

  .feature-secconimg {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
