
.main-header{
    width: 1043px;
    height: 880px;
    left: 0px;
    top: 0px;
    border-bottom-right-radius: 60%;
/* Brand color/Secondary */

    background: #1E3446;
}
.main-texth1{
    position: relative;
    top: 286px;
    left: 104px;
    width: 684px;
    height: 216px;

/* Heading 1 */

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
/* or 129% */

/* Pure White */

    color: #FFFFFF;
}
/* buton */
.main-button{
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.main-btn{
    padding: 8px 16px;
    margin-right: 30px;
    position: relative;
    top: 280px;
    left:104px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;

   
    bottom: 0;
   
    text-decoration: none;
    color: #F58634 ;
    border-color: #F58634;
    background-color: transparent;
    border-radius: 12px;
}
.main-btn:nth-child(1){
    background-color: #F58634;
    color: #FFFFFF;
    border-color: #F58634;
}
.main-input{
    position: relative;

    top: 300px;
    left:104px;

}

// IMG 
.main-img{
    position: relative;
    width: 490px;
    height: 640px;
    left: 700px;
    top: -200px;
}
