<section class="comment-section">
  <div class="main-comment">
    <div class="comment-tittle">
      <span>Testimonials</span>
      <h3>Few Smiles and Comments</h3>
    </div>
    <div class="comment-group">
      <div class="comment-element">
        <include
          src="components/comment-card.html"
          locals='{
                    "info": " Gladina Samantha ",
                    "ceo": " CEO JobDesk United, LLC ",
                    "comment": "  To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy.  "}'
        >
          >
        </include>
        <include
          src="components/comment-card.html"
          locals='{
                    "info": " Gladina Samantha ",
                    "ceo": " CEO JobDesk United, LLC ",
                    "comment": "  To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy.  "}'
        >
          >
        </include>
        <include
          src="components/comment-card.html"
          locals='{
                    "info": " Ryan Oliver ",
                    "ceo": " Ryan Oliver ",
                    "comment": "  To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy.  "}'
        >
          >
        </include>
      </div>
      <div class="comment-arrow">
        <span>&larr;</span>
        <span>&rarr;</span>
      </div>
      <div class="comment-indicator">
        <input type="radio" name="gender" value="female" />
        <input type="radio" name="gender" value="female" />
        <input type="radio" name="gender" value="female" />
        <input type="radio" name="gender" value="female" />
      </div>
    </div>
  </div>
</section>
