<div class="comment">
  <article class="comment-card">
      <figure class="comment-card-reviewers__img ">
          <img src="../assets/img/Ellipse 31.png" alt="image failed" class="comment-imge">
      </figure>
      <blockquote class="comment-card-reviewers__comment ">
          {{comment}}
      </blockquote>
      <img src="../assets/img/Union.png" alt="image failed" class="comment-union">
      <div class="comment-ceo">
            <p class="comment-card-reviewers__info">{{info}}</p>
            <p class="comment-ceollc">CEO JobDesk United, LLC</p>
      </div>
     
  </article>
</div>
