<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>


<div class="main-course">
    <span>Learn from our 3 in 1 Professional Course</span>
    <h3>Become a Certified Real Estate Consultant</h3>
    <div class="course-cardtotal">
        <div class="course-group">
        <include
        src="./components/list-card.html"
        locals='{
          "img": "../assets/img/certified/Rectangle 12.png",
          "content": "Real Estate Development and Practices in Nigeria",
          "contentLink": "View Course"
          }'
         />
        </div>
        <div class="course-group">
        <include
        src="./components/list-card.html"
        locals='{
          "img": "../assets/img/certified/Rectangle 12.png",
          "content": "Fundamentals about the Real Estate Industry",
          "contentLink": "View Course"
          }'
         />
        </div>
        <div class="course-group">    
        <include
          src="./components/list-card.html"
          locals='{
            "img": "../assets/img/certified/Rectangle. 11.png",
            "content": "The Art of Selling",
            "contentLink": "View Course"
            }'
        />
        </div>
    </div>
</div>  


