<div class="main-course">
  <span>Learn from our 3 in 1 Professional Course</span>
  <h3>Become a Certified Real Estate Consultant</h3>
  <div class="course-cardtotal">
    <div class="container-card">
      <div class="course-group">
        <include
          src="./components/list-card.html"
          locals='{
        "img": "../assets/img/certified/Rectangle 12.png",
        "content": "Real Estate Development and Practices in Nigeria",
        "contentLink": "View Course"
        }'
        />
      </div>
      <div class="course-group">
        <include
          src="./components/list-card.html"
          locals='{
        "img": "../assets/img/certified/Rectangle 12.png",
        "content": "Fundamentals about the Real Estate Industry",
        "contentLink": "View Course"
        }'
        />
      </div>
      <div class="course-group">
        <include
          src="./components/list-card.html"
          locals='{
          "img": "../assets/img/certified/Rectangle. 11.png",
          "content": "The Art of Selling",
          "contentLink": "View Course"
          }'
        />
      </div>
    </div>
  </div>
</div>
