<div class="main-feature">
    <span>Features</span>
    <h3>We Provide the Best Property for you</h3>
    <div class="feature-img">
        <div class="feature-imggroup">
            <figure>
                <img src="../assets/img/Rectangle11.png" alt="" class="feature-imgitem" >
                <img src="../assets/img/Rectangle 6.png" alt="" class="feature-imgitem" >
                <img src="../assets/img/Rectangle 9.png" alt="" class="feature-imgitem">
            </figure>
        </div>
        <div class="feature-imggroup">
            <figure>
                <img src="../assets/img/Rectangle 7.png" alt="" class="feature-imgitem image2">
            </figure>
        </div>
        <div class="feature-imggroup">
            <figure>
                
                <img src="../assets/img/Rectangle 8.png" alt="" class="feature-imgitem" >
                <img src="../assets/img/Rectangle 10.png" alt="" class="feature-imgitem">
            </figure>
        </div>
    </div>

</div>