<div class="main-gallery">
  <span>Lorem Ispum is an English Dummy Text Field</span>
  <h3>Gallery</h3>
  <div class="gallery-img">
      <div class="gallery-imggroup">
          <include
        src="./components/list-img.html"
        locals='{
        "list": "[`../assets/img/gallery/Rectangle40.png`,`../assets/img/gallery/Rectangle38.png`]"
          }'
          >
      </div>
      <div class="gallery-imggroup">
          <include
        src="./components/list-img.html"
        locals='{
        "list": "[`../assets/img/gallery/Rectangle 34 (1).png`,`../assets/img/gallery/Rectangle 33.png`]"
          }'
          >
      </div>
      <div class="gallery-imggroup gallery-mobilegroup">
          <include
        src="./components/list-img.html"
        locals='{
        "list": "[`../assets/img/gallery/Rectangle37.png`,`../assets/img/gallery/Rectangle39.png`]"
          }'
          >
      </div>
      <div class="gallery-imggroup gallery-mobilegroup">
          <include
        src="./components/list-img.html"
        locals='{
        "list": "[`../assets/img/gallery/Rectangle36.png`,`../assets/img/gallery/Rectangle 35 (2).png`]"
          }'
          >
      </div>
  </div>

</div>
