<div class="main-gallery">
    <span>Lorem Ispum is an English Dummy Text Field</span>
    <h3>Gallery</h3>
    <div class="gallery-img">
        <div class="gallery-imggroup">
            <figure>
                <img src="../assets/img/gallery/Rectangle40.png" alt="" class="gallery-imgitem">
                <img src="../assets/img/gallery/Rectangle38.png" alt="" class="gallery-imgitem">
            </figure>
        </div>
        <div class="gallery-imggroup">
            <figure>
                <img src="../assets/img/gallery/Rectangle 34 (1).png" alt="" class="gallery-imgitem">
                <img src="../assets/img/gallery/Rectangle 33.png" alt="" class="gallery-imgitem">
            </figure>
        </div>
        <div class="gallery-imggroup">
            <figure>
                <img src="../assets/img/gallery/Rectangle37.png" alt="" class="gallery-imgitem">
                <img src="../assets/img/gallery/Rectangle39.png" alt="" class="gallery-imgitem">
            </figure>
        </div>
        <div class="gallery-imggroup">
            <figure>
                <img src="../assets/img/gallery/Rectangle36.png" alt="" class="gallery-imgitem">
                <img src="../assets/img/gallery/Rectangle 35 (2).png" alt="" class="gallery-imgitem">
            </figure>
        </div>
    </div>

</div>