<nav class="header-navbar">
    <div class="nav-left">
        <div class="nav-logo">
            <div class="nav-login-inside"></div>
        </div>
        <h1 class="nav-h1text" >PRC</h1>
    </div>
    <div class="nav-middle">
        <ul class="nav-item">
            <include
            src="./components/nav-list.html"
            locals='{
            "classList": "nav-items ",
            "classLink": "nav-link",
            "list": "[`Home`, `About us`, `Our course`, `Blog`, `Contact us`]"
          }'
          >
          </include>
        </ul>
    </div>
    <div class="nav-right">
        <p class="nav-items" style="color: black;">Login</p>
        <p class="nav-items nav-items--regis">Register</p>
        
    </div>
</nav>



