@use '../abstract/' as *;
.footer {
    background-color: $background-color;
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  1fr;
        grid-template-rows: auto;
        justify-items: center;
        padding: 3rem 6rem;
                @include mobile {
                    grid-template-columns: auto;
                    grid-template-rows: 1fr 1fr 1fr  1fr ;
                }
        .footer-headtitle {
            @include flex($direction: row, $align: center);
            width: 100%;

            @include mobile {
                @include flex($justify: center, $align: center);
            }

            .footer-headitem {
                list-style-type: none;
            }

            .footer-b {
                margin-left: 0;
                margin-bottom: 1rem;
                color: $text-color;
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                @include mobile {
                    font-size: 16px;
                }
            }
        }
        .list-footer {
            @include mobile {
                @include flex($direction: column, $justify: center, $align: center);
                
            }

            .footer-item {
                list-style-type: none;
            }

            .footer-text {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $footer-color;
                @include mobile {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
    .footer-copy {
        transform: translateX(-4rem);
        @include tablet {
                justify-self: start;
                transform: none;
            }
         @include mobile {
                justify-self: center;
            }
        .footer-itemcopy {
            list-style-type: none;
            .footer-textcopy {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $footer-color;
            }
        }
    }
}
