@use '../abstract/' as *;

.footer {
    background-color: $background-color;

    .footer-container {
        @include flex($direction: row, $justify: space-around);
        padding: 1rem 12rem;

        @include mobile {
            @include flex($direction: column, $justify: center, $align: center);
        }

        @include tablet {
            padding: 0 50px;

        }

        .footer-headtitle {
            @include flex($direction: row, $align: center);
            width: 100%;

            @include mobile {
                @include flex($justify: center, $align: center);
            }

            .footer-headitem {
                list-style-type: none;
            }

            .footer-b {
                margin-left: 0;
                margin-bottom: 1rem;
                color: $text-color;
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                @include flex($direction: column, $justify: center, $align: center);

            }
        }

        .list-footer {
            padding: 1rem 0;
            max-width: 12%;

            @include mobile {
                @include flex($direction: column, $justify: center, $align: center);
                max-width: 60%;
            }

            .footer-item {
                list-style-type: none;
            }

            .footer-text {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $footer-color;
            }

        }
    }

    .footer-copy {
        padding-bottom: 3rem;
        @include mobile {
            padding-bottom: 1rem;
            @include flex($justify: center, $align: center);
            margin: 0;
        }
        @include tablet {
            @include flex($justify: center, $align: center);
            margin: 0;
        }

        .footer-itemcopy {
            list-style-type: none;
            @include flex($justify: center, $align: center);
            max-width: 42%;
            .footer-textcopy {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: $footer-color;
            }
        }
    }
}
