@use '../abstract/' as *;
.main-header{
    width: 78%; 
    padding-left: 8%;
    padding-top: 10%;
    border-bottom-right-radius: 66%;
/* Brand color/Secondary */
    background: $background-color;
    @include flex($direction: row,$justify: space-around, $align: center);

    .main-text{
        gap: 20px;
        @include flex($direction: column,$justify: space-around);
        .main-texthcontent{            
        /* Pure White */
            color: $text-color;

        }
        /* buton */
        .main-button{
       
            @include flex($direction: row);
            .main-btn{
                padding: 8px 16px;
                margin-right: 30px;
            
            /* identical to box height, or 150% */   
            }
        }
    }
}

.main-btn:nth-child(1){
    background-color: $bgbtn-color;
    color: $text-color;
    border-color: $bgbtn-color;
}
.main-input{
  
}

// IMG 
.main-img{
   position: relative;
   left: 20%;
}




