<footer class="footer">
  <div class="footer-container">
    <div class="list-footer">
      <div class="footer-headtitle">
        <include src="./components/list-headfooter.html" locals='{
                    "list": "[`Companyname`]",
                    "classb": "footer-b",
                    "classList": "footer-headitem"
                  }'>
      </div>
      <include src="./components/list-footer-img.html" locals='{
                            "list": "[ `2118 Thornridge Cir. Dubai, UAE 35624`]",
                            "classList": "footer-item",
                             "img": "../assets/img/icon/Vector (5).png",
                            "classLink": "footer-text"
                          }'></include>
      <include src="./components/list-footer-img.html" locals='{
                              "list": "[ `+33 415 65356 - 9`]",
                              "classList": "footer-item",
                               "img": "../assets/img/icon/Vector (3).png",
                              "classLink": "footer-text"
                            }'></include>
      <include src="./components/list-footer-img.html" locals='{
                              "list": "[ `contact@lugar.com`]",
                              "classList": "footer-item",
                               "img": "../assets/img/icon/Vector (4).png",
                              "classLink": "footer-text"
                            }'></include>
    </div>
    <div class="list-footer">
      <div class="footer-headtitle">
        <div class="footer-headtitle">
          <include src="./components/list-headfooter.html" locals='{
                        "list": "[`Legal Link`]",
                        "classb": "footer-b",
                        "classList": "footer-headitem"
                      }'>
        </div>
      </div>
      <include src="./components/list-footer.html" locals='{
                "list": "[`Home`, `Our course`, `About us`, `Blog`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'>
    </div>
    <div class="list-footer">
      <div class="footer-headtitle">
        <include src="./components/list-headfooter.html" locals='{
                    "list": "[`Legal Link`]",
                    "classb": "footer-b",
                    "classList": "footer-headitem"
                  }'>
      </div>
      <include src="./components/list-footer.html" locals='{
                "list": "[ `Terms`, `Conditions`, `Policy`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'>
    </div>
    <div class="list-footer">
      <div class="footer-headtitle">
        <include src="./components/list-headfooter.html" locals='{
                    "list": "[`Social media`]",
                    "classb": "footer-b",
                    "classList": "footer-headitem"
                  }'>
      </div>
      <include src="./components/list-footer.html" locals='{
                "list": "[ `Facebook`, `Twitter`, `Youtube`, `Likedln`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'>
    </div>
  </div>
  <div class="footer-copy">
    <include src="./components/list-footer.html" locals='{
                "list": "[`Copyright @ 2023`]",
                "classList": "footer-itemcopy",
                "classLink": "footer-textcopy"
              }'>
  </div>
</footer>
