<footer class="footer">
    <div class="footer-container">
        
        <div class="list-footer">
            <div class="footer-headtitle">
                <include
                  src="./components/list-headfooter.html"
                  locals='{
                    "list": "[`Companyname`]",
                    "classb": "footer-b",
                    "classList": "footer-headitem"
                  }'
                >
            </div>
            <include
              src="./components/list-footer.html"
              locals='{
                "list": "[ `2118 Thornridge Cir. Dubai, UAE 35624`, `+33 415 65356 - 9`, `contact@lugar.com`,`Copyright @ 2023`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'
            >
        </div>
        <div class="list-footer">
            <div class="footer-headtitle">
                <div class="footer-headtitle">
                    <include
                      src="./components/list-headfooter.html"
                      locals='{
                        "list": "[`Legal Link`]",
                        "classb": "footer-b",
                        "classList": "footer-headitem"
                      }'
                    >
                </div>
            </div>   
            <include
              src="./components/list-footer.html"
              locals='{
                "list": "[`Home`, `Our course`, `About us`, `Blog`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'
            >
        </div>
        <div class="list-footer">
            <div class="footer-headtitle">
                <include
                  src="./components/list-headfooter.html"
                  locals='{
                    "list": "[`Legal Link`]",
                    "classb": "footer-b",
                    "classList": "footer-headitem"
                  }'
                >
            </div>
            <include
              src="./components/list-footer.html"
              locals='{
                "list": "[ `Terms`, `Conditions`, `Policy`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'
            >
        </div>
        <div class="list-footer">
            <div class="footer-headtitle">
                <include
                  src="./components/list-headfooter.html"
                  locals='{
                    "list": "[`Social media`]",
                    "classb": "footer-b",
                    "classList": "footer-headitem"
                  }'
                >
            </div>
            <include
              src="./components/list-footer.html"
              locals='{
                "list": "[ `Facebook`, `Twitter`, `Youtube`, `Likedln`]",
                "classList": "footer-item",
                "classLink": "footer-text"
              }'
            >
        </div>
    </div>

</footer>


