<header class="header">
    <include src="./components/nav.html"></include>
   
    <div class="main-header">
        <article class="main-text">
            <h1 class="main-texthcontent">Rule the world as a Professional Real Estate Consultant</h1>
           <div class="main-button">
                <button class="main-btn">Get started</button>
                <button class="main-btn">Learn more</button>
           </div>
           <div class="main-input">
                 <input type="radio" name="gender" value="female">
                 <input type="radio" name="gender" value="female"> 
                 <input type="radio" name="gender" value="female"> 

           </div>
        

        </article>
        <figure class="main-img">
            <img src="../assets/img/Rectangle 3.png" alt="">
        </figure>
    </div>
</header>





