<header class="header">
    <include src="./components/nav.html"></include>
    <div class="main-header">
        <article class="main-text">
            <h1 class="main-texthcontent">Rule the world as a Professional Real Estate Consultant</h1>
            <div class="header-mobile">
                <h1 class="mobile-text">Live at your own pace</h1>
                <p class="mobile-textcontent">"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire. </p>
            </div>
           <div class="main-button">
            <include src="./components/button.html" locals='{
                "class" : "main-btn",
                "backgroundColor" : "$borderbtn-color",
                "color" : "$btn-color",
                "--with":"20px",
                "button" : "Get Started"
    
            }'></include>
                <include src="./components/button.html" locals='{
                    "class" : "main-btn",
                    "backgroundColor" : "none",
                    "color" : "$btn-color",
                    "button" : "Learn more"
        
                }'></include>
           </div>
           <div class="main-input">
                 <input type="radio" name="gender" value="female">
                 <input type="radio" name="gender" value="female"> 
                 <input type="radio" name="gender" value="female"> 
           </div>
        </article>
        <figure class="main-img">
            <img src="../assets/img/Rectangle 3.png" alt="">
        </figure>
    </div>
</header>





